body {
  background-color: lightblue;
}

.Form {
  font-family: sans-serif;
  text-align: center;
  background-color: #dc143c;
  margin-top: 150px;
  min-height: 70%px;
  width: 50%;
  padding: 60px;
  text-align: center;
}
.data {
  text-align: center;
  position: relative;
}
